Include /etc/ssh/sshd_config.d/*.conf
PermitRootLogin yes
PermitEmptyPasswords yes
KbdInteractiveAuthentication no
UsePAM yes
X11Forwarding yes
PrintMotd no
AcceptEnv LANG LC_* COLORTERM NO_COLOR
Subsystem sftp /usr/lib/openssh/sftp-server
